@charset "utf-8";
/* CSS Document */



body {
  background-color: #0A2342; 
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}


header {
  background-color: #1B3B6F;
  padding: 20px;
  border-bottom: 4px solid #FFCA3A; 
}


.menu {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.menu li {
  display: inline-block;
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  color: #FFCA3A;
}


section {
  margin: 20px;
  padding: 10px;
}


.lista-blanca li {
  color: white; 
}

.compacta {
  list-style-position: inside;
  padding-left: 0;
  display: inline-block;
  text-align: left;
  line-height: 1.5;
}


table {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  border-collapse: collapse;
}

th {
  background-color: #1B3B6F;
  padding: 10px;
}

td {
  padding: 8px;
  border: 1px solid white;
}


.formulario {
  background-color: #1B3B6F;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
}

input, textarea {
  width: 200px;
  padding: 5px;
}

button {
  background-color: #FFCA3A;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}


article {
  background-color: #163B73;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  width: 70%;
  box-shadow: 0 0 10px #FFCA3A; /* contraste visual */
}

article img {
  border-radius: 10px;
  margin-bottom: 10px;
}


.video-container {
  position: relative;
  width: 80%;
  max-width: 560px;
  margin: 20px auto;
}

.video-container iframe {
  width: 100%;
  height: 315px;
  border: none;
  border-radius: 10px;
}


footer {
  background-color: #1B3B6F;
  padding: 15px;
  border-top: 4px solid #FFCA3A;
  color: white;
}

